@mixin font($font_name, $file_name, $weight, $style) {

	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	};
};

$main-color: #79b9b9;

@import "fonts";
@import "#scss-modules/normalize";
@import "#scss-modules/default";
@import "#scss-modules/header";
@import "#scss-modules/greeting";
@import "#scss-modules/aboutMe";
@import "#scss-modules/skills";
@import "#scss-modules/portfolio";
@import "#scss-modules/contact";