.aboutMe {
	padding: 50px 0 70px 0;
	background-color: #e2ddcd;
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__border {
		font-family: "Roboto Slab";
		font-size: 17px;
		&::before {
			background-color: #000;
			content: "";
			display: inline-block;
			width: 35px;
			vertical-align: middle;
			height: 2px;
			margin-right: 10px;
		}
		&::after {
			background-color: #000;
			content: "";
			display: inline-block;
			width: 35px;
			vertical-align: middle;
			height: 2px;
			margin-left: 10px;
		}
	}
	&__description {
		display: flex;
		justify-content: space-around;
		margin-top: 50px;
	}
	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 0 1 360px;
	}
	&__subAboutTitle {
		font-size: 23px;
	}
	&__img {
		width: 100px;
		transition: transform 1s ease-in-out;
		&:hover {
			transform: rotateX(360deg);
		}
	}
	&__text {
		text-align: center;
		font-family: "Oswald";
		font-size: 17px;
	}
}